.about-wrapper{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,123,150,1) 100%);
    color: white;
    height: 93.9vh;
    width: calc(100vw - (100vw - 100%));
}

.about-container{
    padding: 50px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.sidebar{
    width: 40vw;
    height: 50vh;
    height: max-content;
    position: relative;
}

.row{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    margin: 5%;
}